@import (reference) 'flex.less';

.sw2-character {
    &> .row {
        .layout(column);
        align-items: stretch;

        @media screen and (min-width: 920px) {
            .layout(row);

            &> .panel {
                .flex();

                &.ability {
                    flex: 0 0 333px;
                }
            }
        }
    }

    .panel {
        .row {
            .layout(row);

            &> * {
                .flex();
            }
        }
    }

    .ability {
        text-align: center;
        button {
            position: relative;
            top: -333px;
            left: 145px;
        }
    }

    .money {
        .layout(row);
    }
}
